
frontend/venv/

db-service/venv/

frontend/src/__pycache__/

db-service/db/database.db

*.db

frontend/.nicegui/

letsencrypt/

data/

db-service/__pycache__/

db-service/secrets.json

frontend/secrets.json

mail_analyzer/config.ini
