version: "3"
services:
  db:
    restart: always
    build: /volume1/docker/rotes-buch/db-service
    ports:
      - "6010:5000"
    volumes:
      - /volume1/docker/rotes-buch/data/db:/app/db
  mail_analyzer:
    restart: always
    build: /volume1/docker/rotes-buch/mail_analyzer
    ports:
      - "6011:5001"
  ui:
    restart: always
    build: ./frontend
    ports:
      - "6012:80"
    volumes:
      # - ./frontend/.nicegui:/app/.nicegui
      - /volume1/docker/rotes-buch/data/nicegui:/app/.nicegui
      
